@import "_mixin.scss";
@import "common.scss";
* {
    @include sizing;
}

.wrap {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: rem(45px);
    line-height: rem(45px);
    background: palevioletred;
    color: #fff;
    font-size: 16px;
    text-align: center;
}